@import './variables.scss';

.container {
    display: grid;

    grid-template-rows: 100vh;
    grid-template-columns: [sidebar-start] 18vw [sidebar-end content-start] 1fr [center-start] repeat(8, 1fr) [center-end] 1fr [content-end];

    &__sidebar {
        grid-column: 1 / 2;
    }
}
