// color variables
$color-white: #ffffff;

$color-blue-light: #4d79f6;
$color-blue-dark: #2b55cc;

$color-blue-marshal-light: #1a253f;
$color-blue-marshal-dark: #50649c;

$color-cyan-light: #1ecab8;

$color-grey-light-1: #eaf0f7;
$color-grey-light-2: #dbe0ec;

$color-grey-dark-1: #8997bd;
$color-grey-dark-2: #a4abc5;
$color-grey-dark-3: #8997bd;